Flask
Flask-SQLAlchemy
Flask-Bcrypt
Flask-CORS
psycopg2-binary
PyMySQL
google-generativeai
python-dotenv
gunicorn
gevent
gevent-websocket
zope.event
zope.interface
setuptools
flask-socketio
python-socketio
python-engineio
geopy
